@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --smt-primary: #02ACF0;
    --smt-secondary: #F4931D;
    --smt-tertiary: #262160;
    --smt-fourth: #707070;
    --smt-fifth: #1877f2;
}

body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    font-family: 'Source Sans Pro', sans-serif;
}

.text-smt-primary {color: var(--smt-primary);}
.text-smt-secondary {color: var(--smt-secondary);}
.text-smt-tertiary {color: var(--smt-tertiary);}
.text-smt-fourth {color: var(--smt-fourth);}

.bg-smt-primary {background: var(--smt-primary);}
.bg-smt-secondary {background: var(--smt-secondary);}
.bg-smt-tertiary {background: var(--smt-tertiary);}
.bg-smt-fourth {background: var(--smt-fourth);}
.bg-smt-tranparent-primary {background: #02adf07c !important;}
.bg-smt-tranparent-secondary {background: #f4931d88 !important;}

.hover-text-smt-primary:hover {color: var(--smt-primary);}
.hover-text-smt-fifth:hover {color: var(--smt-fifth);}

.border-smt-fourth {border: .5px solid var(--smt-fourth);}

main {
    margin: 5.5% auto;
}

.line-height-10 {line-height: 10px;}

.fit-content {
    width: fit-content;
    height: fit-content;
}

.font-size-14 {font-size: 14px;}

.font-weight-500 {font-weight: 500;}

.word-space-1 {word-spacing: 1px;}

.text-indent-3 {text-indent: 3px;}

.mt-6 {margin-top: 14vh;}

.login div {padding: 1px;}

.focused {
    transition: box-shadow .5s;
    border: none;
    box-shadow: 0 0 2px 2px var(--smt-primary);
}

.login div, .contacts div {
    width: 350px;
    height: fit-content;
}

.login div input:first-of-type{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 3px;
}


.form-group input {
    width: 99.5%;
    height: 40px;
    border: none;
    outline: none;
}

textarea {
    width: 99.5%;
    height: 100%;
    margin: auto;
    outline: none;
}

.login_password {
    width: 90%;
    height: 40px;
    outline: none;
    border-radius: 3px;
}

a[href="/eye"] {
    background: none;
}

a[href="/eye"]:hover{color: var(--smt-fourth);}

.login button, .register button {
    width: 350px;
    height: 45px;
    background: var(--smt-primary);
    font-size: 18px;
    color: var(--smt-tertiary);
    outline: none;
    border-radius: 3px;
    font-weight: 500;
    box-shadow: 0 0 3px #eee;
}

.login button:hover, .register button:hover {
    transition: filter .2s, color .2s;
    color: #eee;
    filter: brightness(.90);
    text-decoration: none;
}

.link-btn {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 11px 16px;
    background: var(--smt-secondary);
    color: #fff;
    outline: none;
    border-radius: 3px;
    font-weight: 500;
    box-shadow: 0 0 3px #eee;
}

.link-btn:hover {
    transition: filter .2s, color .2s;
    color: #ddd;
    filter: brightness(.90);
    text-decoration: none;
}

.auth-footer {
    background: #f8f8f8;
    box-shadow: 0 -1px 1.5px #ddd;
}

.auth-footer > div:last-of-type p {
    font-size: 14px;
    color: var(--smt-fourth);
}

.little_desc > div:first-of-type img {
    width: 50px;
    height: 50px;
}

.little_logo {
    width: 100px;
    height: 100px;
}

.emailVerification {
    left: 40%;
    bottom: 0;
}

.is-invalid {
    border: rgb(253, 88, 88);
    box-shadow: 0 0 2px 2px rgb(253, 88, 88);
}

.header-nav li .nav-link {color: #fff;}

.header-nav li .nav-link:hover {color: var(--smt-secondary);}

.header-nav li:last-of-type .nav-link {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 9px 16px;
    background: var(--smt-secondary);
    color: #fff;
    outline: none;
    border-radius: 3px;
    font-weight: 500;
}

.header-nav li:last-of-type .nav-link:hover {
    transition: filter .2s, color .2s;
    color: #ddd;
    filter: brightness(.90);
    text-decoration: none;
}

.active {color: var(--smt-secondary) !important;}

@media screen and (max-width: 1159px) {
    .smt-sm-h4 {font-size: 19px;}
}
/* css blog */

.letter_size{
    font-size: 28px;
}

/* media queries contacts */

/* moto g4 */
@media (max-width:360px) {
   
}